
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    color: white;
    background-color: #1c1c84;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}

main {
    width: 100%;
    max-width: 800px;
    background-color: #000035;
    padding: 30px;
    border-radius: 30px;
}

#pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}



.top-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    text-align: center;
}

#Git_user {
    color: blue;
}

.toCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#srchGit {
    width: 80% !important;
    height: 30px;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

#srchBtn {
    text-align: center;
    width: 10% !important;
    padding: 5px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #1c1c84;
    color: white;
    font-weight: bold;
    
}
#srchBtn svg{
    width: 20px;
}

.mid-card {
    background-color: #323232;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    border-radius: 30px;
    padding: 10px;
}

.low-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media (min-width: 768px) {
    #srchGit, #srchBtn {
        width: 80%;
    }

    .top-card {
        flex-direction: row;
        text-align: left;
    }

    .low-card {
        grid-template-columns: repeat(2, 1fr);
    }
}
